@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-noto-sans-jp), var(--font-inter);
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  max-width: 1280px !important;
  min-height: 100vh;
  margin: 0 auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.bg-hex-icon {
  background: linear-gradient(155.89deg, #ffcc21 8.26%, #ff963c 91.18%);
}

.bg-btn {
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
}
